@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-family_main: "Poppins", sans-serif;

$page-padding-large: 0 10%;
$page-padding-small: 0 5%;
$main-color: #63e6be;
$main-gradient: linear-gradient(to right bottom, $main-color, #73f0cb);
