.section-contact {
  height: 100vh;
}

.title {
  text-transform: uppercase;
  color: #ff6b6b;
  font-size: 3.6rem;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20rem auto;
  max-width: 100rem;
}

form {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #fff;
  padding-right: 6rem;

  width: 60%;
}

label {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 1rem;
}

input {
  height: 2.8rem;
  padding: 2rem;
  margin-top: 5px;
  border: none;
  color: #fff;
  background-color: #1a1a1a;
  font-size: 1.8rem;
}

textarea {
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  margin-top: 5px;
  border: none;
  color: #fff;
  background-color: #1a1a1a;
}

form button {
  padding: 1.2rem 1rem;
  font-size: 1.6rem;
  width: 45%;
  margin: auto;
  margin-top: 1rem;
}

.other-contact {
  padding-left: 6rem;
  width: 60%;
}

.other-contact button {
  font-size: 5rem;
}

.other-contact h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.other-contact p {
  font-size: 1.8rem;
  font-weight: 300;
}

.whatsapp,
.email {
  display: flex;
  gap: 3.2rem;
}

.whatsapp div,
.email div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whatsapp {
  margin-bottom: 2rem;
}

.whatsapp a {
  font-size: 8.5rem;
}

.email a {
  font-size: 7.75rem;
}

.email a svg,
.whatsapp a svg {
  transition: all 0.3s;
}

.email a svg:hover,
.whatsapp a svg:hover {
  color: #ff6b6b;
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1100px) {
  .section-contact {
    height: auto;
  }
  .contact {
    flex-direction: column;
    margin: auto;
  }
  form {
    border: none;
    padding-right: 0;
    width: 100%;
    align-items: center;
  }
  label {
    width: 75%;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  input,
  textarea {
    width: 100%;
    margin: auto;
  }
  form button {
    margin: auto;
    margin-top: 1rem;
    width: 30%;
  }
  .other-contact {
    border-top: 1px solid #fff;
    margin-top: 10rem;
    padding-left: 0;
  }

  .other-contact h3 {
    text-align: center;
  }

  .whatsapp {
    margin: 7.5rem 0;
  }

  .whatsapp,
  .email {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 7.5rem;
  }

  .whatsapp div,
  .email div {
    align-items: center;
  }
}
