footer {
  background-color: rgba(14, 14, 14, 0.6);
  margin-top: 10rem;

  padding-top: 5rem;
}

.footer-container {
  width: 70%;
  height: 25rem;

  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  margin-left: auto;
  margin-right: auto;
}

/*//////////////////*/
/*/ //First Column///*/
/*//////////////////*/
footer .first-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h1 {
  font-size: 5rem;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: #ff6b6b;
}

footer h2 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: white;
}

/*/ /////////////////*/
/*///Sections Column///*/
/*/ /////////////////*/
footer .sections-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  font-weight: 600;

  transition: all 0.6s;
}

footer a:last-child {
  margin-bottom: 0;
}

footer a:hover {
  color: #ff6b6b;
}

/*/ /////////////////*/
/*/ //Copyright///*/
/*/ /////////////////*/
.copyright {
  font-size: 1.4rem;

  grid-column: 1/-1;
}
