.projects-section {
  width: 70%;
  text-align: center;
  margin: 0 auto 10rem auto;
}

.projects-section h2 {
  font-size: 3.6rem;
  text-align: center;
  color: #ff6b6b;
  margin-bottom: 6rem;
  padding-top: 5rem;
}

/*//////////////*/
/*//First Project//*/
/*//////////////*/
.first-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  align-items: center;
  justify-items: center;
  height: 70vh;

  margin-bottom: 10rem;
}

/*//text//*/
.first-project-text-container {
  text-align: start;
}

.first-project h3 {
  font-size: 3.4rem;
  color: #2bdcf2;
  margin-bottom: 4rem;
}

.first-project p {
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

/*//imgs//*/
.first-project-imgs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 1rem;
  row-gap: 2rem;
}

.first-project-imgs-container figure {
  width: 20rem;
  overflow: hidden;
}

.first-project-imgs-container img {
  width: 100%;
  transition: all 0.4s;
}

.first-project-imgs-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*//////////////*/
/*//Second Project//*/
/*//////////////*/
.second-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  align-items: center;
  justify-items: center;
  height: 60vh;
}

/*//text//*/
.second-project-text-container {
  grid-column: 2/3;
  text-align: end;
}

.second-project h3 {
  font-size: 3.4rem;
  color: #2bdcf2;
  margin-bottom: 4rem;
}

.second-project p {
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

/*//imgs//*/
.second-project-imgs-container {
  grid-row: 1/2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 1rem;
  row-gap: 2rem;
}

.second-project-imgs-container figure {
  width: 20rem;
  overflow: hidden;
}

.second-project-imgs-container img {
  width: 100%;
  transition: all 0.4s;
}

.second-project-imgs-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*//////////////*/
/*//Both Projects//*/
/*//////////////*/
.project-link a {
  font-size: 2.2rem;
  text-decoration: none;
  color: #2bdcf2;
  transition: all 0.5s;
}

.project-link a:hover {
  color: #1e9aa9;
}

.project-link-icon {
  color: #2bdcf2;
  transition: all 0.5s;
}

.project-link a:hover .project-link-icon {
  color: #1e9aa9;
}

/*////////////////////*/
/*/////MediaQueries//////*/
/*////////////////////*/
@media (max-width: 1700px) {
  .first-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .first-project-imgs-container figure {
    width: 23rem;
  }

  .second-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .second-project-imgs-container figure {
    width: 23rem;
  }
}

@media (max-width: 1550px) {
  .projects-section {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .first-project {
    height: 80vh;
  }

  .first-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .first-project-imgs-container figure {
    width: 20rem;
  }

  .second-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .second-project-imgs-container figure {
    width: 20rem;
  }
}

@media (max-width: 1024px) {
  .first-project {
    grid-template-columns: 1fr;
  }

  .first-project-imgs-container {
    grid-template-columns: repeat(3, 1fr);
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .first-project-text-container p {
    margin-bottom: 3rem;
  }

  .second-project {
    height: 80vh;
    grid-template-columns: 1fr;
  }

  .second-project-text-container {
    grid-row: 1/2;
    grid-column: 1;
  }

  .second-project-imgs-container {
    grid-row: 2/3;
    grid-template-columns: repeat(3, 1fr);
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .second-project-text-container p {
    margin-bottom: 3rem;
  }

  .project-link {
    margin-bottom: 4rem;
  }
}

@media (max-width: 800px) {
  .first-project {
    height: auto;
  }
  .second-project {
    height: auto;
  }
}

@media (max-width: 768px) {
  .projects-section {
    width: 90%;
  }

  .first-project-imgs-container {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }

  .first-project-imgs-container figure {
    width: 100%;
  }

  .second-project-imgs-container {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }

  .second-project-imgs-container figure {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .first-project-imgs-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .second-project-imgs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .first-project-imgs-container {
    width: 100%;
  }

  .second-project-imgs-container {
    width: 100%;
  }
}
