.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-items {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 20rem;
}

.services h2 {
  font-size: 3rem;
  text-align: center;
  color: #ff6b6b;
  margin-bottom: 15rem;
}

.service-item {
  max-width: 30rem;
  text-align: center;
  transition: all 0.7s ease-out;
}

.service-item:first-child {
  transform: translateX(-100%);
  opacity: 0;
}
.service-item:nth-child(2) {
  transform: translateX(-150%);
  opacity: 0;
}
.service-item:last-child {
  transform: translateX(-200%);
  opacity: 0;
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.service-item h3,
p,
svg {
  color: #fff;
}

.service-item svg {
  height: 12rem;
  margin-bottom: 4rem;
}

.service-item h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.service-item h3 span {
  color: #2bdcf2;
  font-size: 2rem;
}

.service-item p {
  font-size: 1.6rem;
}
