.projects-section {
  width: 70%;
  height: 100vh;
  text-align: center;
<<<<<<< HEAD:src/Components/Projects.module.css
  margin: auto;
}
=======
  margin: 0 auto 20rem auto;
>>>>>>> f2697a9b821336df20ed7367b2aa75ab14824014:src/sass/layout/_projects.scss

  & h2 {
    font-size: 3.6rem;
    text-align: center;
    color: $main-color;
    margin-bottom: 6rem;
    padding-top: 5rem;
  }
}
/*//////////////*/
/*//First Project//*/
/*//////////////*/
.first-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  align-items: center;
  justify-items: center;
  /* height: 70vh; */
  margin-bottom: 10rem;

  /*//text//*/
  &-text-container {
    text-align: start;
  }

  & h3 {
    font-size: 3.4rem;
    color: $main-color;
    margin-bottom: 4rem;
  }

  & p {
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }

  /*//imgs//*/
  &-imgs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 1rem;
    row-gap: 2rem;

    & figure {
      width: 20rem;
      overflow: hidden;
    }

    & img {
      width: 100%;
      transition: all 0.4s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

/*//////////////*/
/*//Second Project//*/
/*//////////////*/
.second-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  align-items: center;
  justify-items: center;
  /* height: 60vh; */

  /*//text//*/
  &-text-container {
    grid-column: 2/3;
    text-align: end;
  }

  & h3 {
    font-size: 3.4rem;
    color: $main-color;
    margin-bottom: 4rem;
  }

  & p {
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }

  /*//imgs//*/
  &-imgs-container {
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 1rem;
    row-gap: 2rem;

    & figure {
      width: 20rem;
      overflow: hidden;
    }

    & img {
      width: 100%;
      transition: all 0.4s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

/*//////////////*/
/*//Both Projects//*/
/*//////////////*/
.project-link a {
  font-size: 2.2rem;
  text-decoration: none;
  color: $main-color;
  transition: all 0.5s;

  &:hover {
    color: #86ffdb;
  }
}

.project-link-icon {
  color: $main-color;
  transition: all 0.5s;
}

.project-link a:hover .project-link-icon {
  color: #86ffdb;
}

/*///////////////////////*/
/*/////// Redisign //////*/
/*///////////////////////*/

.projects-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  margin: auto;
}

.project-card {
  width: 30rem;
  height: auto;
  background-color: #222;
}

.project-url a {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;

  font-size: 1.6rem;
}

.project-url a p {
  font-size: 1.8rem;
  font-weight: 500;
}

.project-url a svg {
  height: 2rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 2.4rem 1.8rem;
}

.project-image img {
  height: 17.5rem;
}

.project-description {
  text-align: left;
  font-weight: 200;
  margin: auto;
  font-size: 1.6rem;
  margin: 2.4rem 0;
}

.project-card div img {
  width: 100%;
}

.project-colors-techs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-techs {
  display: flex;
  gap: 1rem;
}

.project-colors {
  display: flex;
  gap: 0.4rem;
}

.project-color {
  width: 2.4rem;
  height: 2rem;
}

.project-icon {
  height: 2.6rem;
}

.project-color-green {
  background-color: #48e8df;
}
.project-color-white {
  background-color: #ffffff;
}
.project-color-red {
  background-color: #b42b51;
}
.project-color-yellow {
  background-color: #e9b824;
}

/*////////////////////*/
/*/////MediaQueries//////*/
/*////////////////////*/
@media (max-width: 1700px) {
  .first-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .first-project-imgs-container figure {
    width: 23rem;
  }

  .second-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .second-project-imgs-container figure {
    width: 23rem;
  }
}

@media (max-width: 1550px) {
  .projects-section {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .first-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .first-project-imgs-container figure {
    width: 20rem;
  }

  .second-project-imgs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .second-project-imgs-container figure {
    width: 20rem;
  }
}

@media (max-width: 1024px) {
  .first-project {
    grid-template-columns: 1fr;
  }

  .first-project-imgs-container {
    grid-template-columns: repeat(3, 1fr);
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .first-project-text-container p {
    margin-bottom: 3rem;
  }

  .second-project {
    /* height: 80vh; */
    grid-template-columns: 1fr;
  }

  .second-project-text-container {
    grid-row: 1/2;
    grid-column: 1;
  }

  .second-project-imgs-container {
    grid-row: 2/3;
    grid-template-columns: repeat(3, 1fr);
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .second-project-text-container p {
    margin-bottom: 3rem;
  }

  .project-link {
    margin-bottom: 4rem;
  }
}

@media (max-width: 800px) {
  .first-project {
    height: auto;
  }
  .second-project {
    height: auto;
  }
}

@media (max-width: 768px) {
  .projects-section {
    width: 90%;
  }

  .first-project-imgs-container {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }

  .first-project-imgs-container figure {
    width: 100%;
  }

  .second-project-imgs-container {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }

  .second-project-imgs-container figure {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .first-project-imgs-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .second-project-imgs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .first-project-imgs-container {
    width: 100%;
  }

  .second-project-imgs-container {
    width: 100%;
  }
}
